<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <hr/>
    <h1>ajax学习</h1>
    <h3>示例1</h3>
    <input type="button" class="btn btn-primary" value="get点击" onclick="clickMe();">
    <input type="button" class="btn btn-primary" value="post点击" onclick="clickMePost();">

    <h3>示例2</h3>
    <input type="text" class="btn btn-primary" id="txtUser" placeholder="姓名" >
    <input type="text" class="btn btn-primary" id="txtAge"  placeholder="年龄">
    <input id="btn2" type="button" class="btn btn-primary" value="点击2">


    <h3>示例3</h3>
    <form id="form3">
        <input type="text" class="btn btn-primary" name="username" placeholder="姓名" >
        <input type="text" class="btn btn-primary" age="age"  placeholder="年龄">
        <input type="text" class="btn btn-primary" grade="grade"  placeholder="年级">
    </form>
    <input id="btn3" type="button" class="btn btn-primary" value="点击3">



    {% block js %}
    <script type="text/javascript">

        $(function (){
            {#bindBtn1Event();#}
            bindBtn2Event();
            bindBtn3Event();
        })

        function bindBtn2Event(){
            $('#btn2').click(function (){
                $.ajax({
                url:'/task/ajax/',
                type:"post",
                data:{
                    user: $("#txtUser").val(),
                    age: $("#txtAge").val()
                },
                success: function (res){
                    console.log(res);
                }
            })
            })
        }


        function bindBtn3Event(){
            $('#btn3').click(function (){
                $.ajax({
                url:'/task/ajax/',
                type:"post",
                data:$("#form3").serialize(),
                success: function (res){
                    console.log(res);
                }
            })
            })
        }

        function clickMe(){
            $.ajax({
                url:'/task/ajax/',
                type:"get",
                data:{
                    n1: 123,
                    n2: 456
                },
                success: function (res){
                    console.log(res);
                }
            })
        }

        function clickMePost(){
            $.ajax({
                url:'/task/ajax/',
                type:"post",
                data:{
                    n1: 123,
                    n2: 456
                },
                dataType:"JSON",
                success: function (res){
                    console.log(res);
                    console.log(res.status);
                    console.log(res.data);
                }
            })
        };



    </script>

{% endblock %}


</body>
</html>

